@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #159957, #155799);
    font-family: 'Poppins', sans-serif;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-container form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    min-width: 30%;
}

.max::before {
    content: 'max capacity reached';
    animation: max-capacity 1s ease-in-out forwards;
    text-align: center;
    position: absolute;
    background-color: red;
    right: 0%;
    height: 100%;
    width: 200px;
    z-index: -3;
}

.todo-container form button {
    border: none;
    padding: 0px 10px;
}

.todo-container form input {
    height: 30px;
    width: 100%;
    padding: 10px;
    border: none;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-div {
    height: 100%;
    width: 100%;
    min-width: 70vw;
    margin: 3%;
    transform: translateY(40%);
    animation: todo-amin 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.todo-div.del {
    animation: todo-amin-del 1s ease-in-out;
}

.todo-div .todo-li {
    height: 100%;
    padding: 0% 5%;
    display: flex;
    font-size: 20px;
}

.todo-div .delete-button {
    padding: 5%;
    display: flex;
    border: none;
}

@keyframes max-capacity {
    0% {
        right: 0%
    }
    100% {
        right: 100%
    }
}

@keyframes todo-amin {
    0% {
        transform: translateY(0%);
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
        transform: translateY(40%);
    }
}

@keyframes todo-amin-del {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width: 768px) {
    .max::before {
        width: 100%;
        animation: max-capacity 1s ease-in-out forwards;
    }

    @keyframes max-capacity {
        0% {
            top: 0%
        }
        100% {
            top: 100%
        }
    }
}


